*{
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

body{
  margin: 0px;
  padding: 0px;
  background-color: #b5abc7;
  box-sizing: border-box;
}

a{
  color: rgb(185, 21, 235);
  font-size: 28px;
  transition: .5s;
}

a:hover{
  color: rgb(210, 141, 250);
}